<div class="row">
  <% if current_user %>
    <div id="new-room-form" class="container col m4 s12"></div>
  <% else %>
    <%= link_to "Login to create room", "/auth/github", class: "col m3 s12 left submit btn" %>
  <% end %>

  <div class="container col m7 s12">
    <div class="rooms">
      <table class="striped">
        <thead>
          <tr>
            <th class="col m7 s12" data-field="name"><h5>Rooms</h5></th>
          </tr>
        </thead>
        <tbody>
          <% @rooms.each do |room| %>
            <tr>
              <td><%= link_to room.name, room_path(room), class: "red-text text-lighten-1" %></td>
              <td><%= room.display_state %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

</div>
