<div class="rooms">
  <% @rooms.each do |room| %>
    <%= link_to room.name, room_path(room) %>
  <% end %>
</div>

<% if current_user %>
  <%= link_to "Create a new room", new_room_path %>
<% end %>
