.error{
  padding:10px;
  color:white;
}

.brand-logo{
  padding-left:20px !important;
}

#new-room-form{
  padding:40px;
}

td, tr{
  text-align:center !important;
}

#choice-field-btn, .choice-field{
  display:inline;
}

.choice-field{
  width:80% !important;
}

