.strikethrough {
  text-decoration: line-through;
}

svg {
  display: block;
  margin: 50px auto;
  width: 250px;
  height: 250px;
}

#loader{
  fill: #4caf50; }

#border{
  fill: #81c784 }

#full-pie{
  fill:#4caf50;
  stroke:#81c784;
  stroke-width:15;
  display:none;
}
